body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    color: #333;
    padding: 1%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

h1 {
    font-size: 28px;
    margin: 1%;
    font-weight: bolder;
    color: #272727;
}

header {
    display: flex;
    width: 100%;
    background-color: #e2062c;
    color: #f9f9f9;
    padding: 1%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    justify-content: flex-start;
}

header h1 {
    color: #f3f3f3;
}

img {
    padding: 0% 1%;
}

a {
    display: inline-block;
    min-width: 12%;
    color: #f9f9f9;
    background-color: #b1253d;
    padding: 1%;
    margin: 1px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    background-color: #ff4d6b;
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}

hr {
    border-width: 2px;
    border-radius: 2px;
    border-color: #b1253d;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1%;
}

section {
    display: inline-flex;
    width: 97%;
    margin: 1% auto;
    background-color: #f9f9f9;
    padding: 2%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: #333;
    border: #e2062c 1px, solid;
}

.nosotros {
    display: flex;
    align-items: center;
    gap: 15px;
}

.personajes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.personaje {
    width: 48%;
    overflow: hidden;
    transition: transform 0.4s ease;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.personaje:hover {
    transform: scale(1.05);
    z-index: 1;
}

.personaje img {
    float: left;
    margin: 0 15px 10px 0;
    width: 40%;
    height: auto;
}

.movie-poster {
    width: 25%;
    aspect-ratio: 2 / 3;
    margin: 0 5px;
    transition: transform 0.3s ease;
    transform-origin: center bottom;
    transform: perspective(800px) rotateX(5deg);
}

.movie-poster:hover {
    transform: perspective(800px) rotateX(12deg);
    box-shadow: 4 10px 13px rgba(0, 0, 0, 0.1);
}

.infoimg {
    width: 100%;
    min-width: 240px;
    max-width: 240px;
    height: auto;
    display: block;
    margin: 10px;
}

.custom-carousel-control {
    align-self: center;
    width: 40px;
    height: 40px;
    background-size: 80%;
}

.video {
    display: flex;
    justify-content: space-between;
}

.gallery-container ul {
    columns: 230px;
    column-gap: 5px;
}

.gallery-container li {
    break-inside: avoid;
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
}

.gallery-container img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.gallery-container img:hover {
    transform: scale(1.05);
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 25px;
    width: 50px;
    height: 50px;
    background: url("../img/flecha.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: solid 20px whitesmoke;
    cursor: pointer;
    padding: 1%;
    border-radius: 100%;
    background-color: whitesmoke;
    filter: drop-shadow(5px 5px 10px #000000);
    transition: 0.5s;
}


#back-to-top:hover {
    transform: scale(1.1);
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
}

@media (max-width: 768px) {
    .movie-poster {
        width: 40%;
    }
}

footer {
    border-radius: 10px;
    width: 98%;
    background-color: #383838;
    color: white;
    text-align: center;
    margin-top: 1%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-wrap:normal;
    flex-wrap: wrap;
    padding: 2%;
}

.form-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    background-color: #f9f9f9;
    padding: 2%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: #333;
    border: #e2062c 1px, solid;
}

label,
button {
    margin-top: 3%;
    font-weight: bold;
}

button {
    color: #f9f9f9;
    background-color: #b1253d;
    padding: 2%;
    border-radius: 5px;
    border: none;
}

button:hover {
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    background-color: #ff4d6b;
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
    text-align: center;
    word-break: break-all;
}

.tarjeta .redes {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}

.tarjeta .redes img {
    justify-content: center;
    width: 10%;
    min-width: 70px;
    height: auto;
    cursor: pointer;
    transition: transform 0.5s ;
    filter: drop-shadow(2px 3px 5px #000000);
}

.tarjeta .redes img:hover {
    transform: scale(1.1);
    filter: drop-shadow(5px 5px 10px #000000);
}